<h2><%= @store.name %></h2>

<% if logged_in? && current_user == @store.user %>
  <a href="/stores/<%=@store.id%>/edit">Click to edit your store, <%= @store.name %></a> <br>
  <a href="/stores/<%=@store.id%>/delete">Click to close your store, <%= @store.name %></a> <br>
  <a href="/products/new">Add a new product to this store</a><br><br>
<%end%>

<% if !@store.products.empty?%>
  <h4>Products in this Store:</h4>
  <li><% @store.products.each do |product| %>
    <a href="/products/<%=product.id%>"><%= product.name %>, <%= product.price %></a><br>
    <% if logged_in? && current_user == @store.user %>
      <a href="/products/<%=@product.id%>/edit">Click to edit <%= product.name %></a><br>
      <a href="/products/<%=@product.id%>/delete">Click to delete <%= product.name %></a><br>
    <%end%>
  <%end%></li>
<%end%>
