<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1>Edit <%= @product.name %></h1>

<form action="/products/<%=@product.id %>" method="POST">
  <label> Product Name </label>
  <input type="text" name="name" value="<%=@product.name %>"> </br>

  <label> Product Price </label>
  <input type="text" name="price" value="<%=@product.price %>"> </br>

  <label> Which Store does this belong to? </label>
  <% Store.all.each do |store| %>
    <input type="checkbox" name="store" value="<%=store.id%>"<%='checked' if @product.store == store %>><%=store.name%></input><br>
  <% end %>
  <!-- <select name="store_id">
    <% current_user.stores.each do |store| %>
      <option value=<%=store.id %> <%= "selected" if store.id==@product.store.id %> ><%= store.name %></option>
    <% end %>
  </select> -->

  <input class="btn btn-primary" type="submit" value="update">
</form>
