<h2>List of all products in this site</h2>
<li>
<% @products.each do |product| %>
  <a href="/products/<%=product.id%>"><%= product.name %></a>, $ <%= product.price %> <br>
  available at <a href="/stores/<%=product.store.id%>"><%= product.store.name %></a>
<% end %>
</li>
