<br><h4>List of all products in this site</h4>

<% @products.each do |product| %>
  <li>
    <a href="/products/<%=product.id%>"><%= product.name %></a>, $ <%= product.price %>, available at <a href="/stores/<%=product.store.id%>"><%= product.store.name %></a>
  </li>
<% end %>
