<h2><%= @product.name %>, $ <%= @product.price %></h2>
<h3>available at <%= @product.store %></h3>

<% if logged_in? && current_user == @product.store.user %>
  <a href="/products/<%=@product.id%>/edit">Edit this product</a><br>
  <a href="/products/<%=@product.id%>/delete">Delete this product</a>
<% end %>
